<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sign up</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<div class="activity-form">
<div class="block-form-inner1">
  <h1>Sign up</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field-01">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field-01">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field-01">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field-01">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<div><% end %></div>
</div>
<div class="block-form-inner">


<div class=form-link><%= render "devise/shared/links" %></div>

</div>
</div>
  </body>
  </html> 