<%= form_with(model: activity) do |form| %>


  <div class="field-01">
    <%= form.label 'Activity' %><br>
  <select name="activity[title]">
  <option value="Fitness">Fitness</option>
  <option value="Running">Running</option>
  <option value="Dance">Dance</option>
  <option value="Walking">Walking</option>
  <option value="Cycling">Cycling</option>
  <option value="Skating">Skating</option>
  <option value="Strength training">Strength training</option>
  <option value="Rowing">Rowing</option>
  <option value="Hiking">Hiking</option>
  <option value="Mountain biking">Mountain biking</option>
  <option value="Warm-up">Warm-up</option>
  </select>
  </div>
  <div class="field-01">
    <%= form.label :duration %><br>
    <%= form.text_field :duration %>
  </div>

  <div class="field-01">
    <%= form.label :date %><br>
    <%= form.text_field :date %>
  </div>
  
  <div class="field-01">
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit " Send "%>
  </div>
<% end %>
