<!DOCTYPE html>
<html>
<head>

  <title>Move and Groove</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<body>
<p id="notice"><%= notice %></p>
<div class="btn-new-activity">
  
   <a href="/activities/new">
    <section class="svg-container"> 
  <svg class="circle" xmlns="http://www.w3.org/2000/svg">
    <g>
      <ellipse class="background" ry="30" rx="30" cy="31.25" cx="31.25" stroke-width="2"/>
      <ellipse class="foreground" ry="30" rx="30" cy="31.25" cx="31.25" stroke-width="2"/>
      <line class="line line1" x1="26" y1="31" x2="37" y2="31" />
      <line class="line line2" x1="26" y1="31" x2="37" y2="31" />
    </g>
  </svg>
</section> 
</a>
</div>
  <div class="activity-ctn">
  <div class="activity-card">  
    <% @activities.each do |activity| %>
    <div class="card-text">
      <span class="actvity-card-date">Date: <%= activity.date %> - Duration: <%= activity.duration %></span>
    <div class="card-title"><h2><%= activity.title %></h2><div class="card-desc"><%=  activity.description %> 
      </div>
    </div>
    
    <div class="card-stats">
      <div class="stat">
        <div class="value"><%= link_to ' Show ', activity %></div>
      </div>
      <div class="stat">
        <div class="value"><%= link_to ' Edit ', edit_activity_path(activity) %></div>
      </div>
      <div class="stat">
        <div class="value"><%= link_to ' Destroy ', activity, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    </div>
  </div>
 <% end %> 
</div>
</div>
 </body>
</html>