<!DOCTYPE html>
<html>
<head>

  <title>Move and Groove</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
 <body>
	<div class="activity-form">
<h1>New Activity</h1>

<%= render 'form', activity: @activity %><br>
<div class="back-btn-ctn">
<div class="back-btn"><%= link_to 'Back', activities_path %></div>
</div>
</div>
 </body>
</html>
